__pycache__/
*.py[cod]
*$py.class

fout/*
tout/*
roo/*
plot-*/*

plot-FlirIR_rec_example/*
plot-QMUL_Stave_Edge/*
plot-A655-000277-312_16_15_05_892/*
ThermalImpedanceQA/output/*
ThermalImpedanceQA/debug_output/*
